$dark-gray: #525451;
$blue: #24a8de;
$medium-blue: #1279a3;
$light-blue: #24a8de ;
$red:  $dark-gray ;

@import "xygrid";
@import "orbit";
@import "cart_icon";
@import "page_top";
@import "breadcrumbs";
@import "block-themesparkyfullwidthcallout";
