.woocommerce {
  h2, h3 {
    font-family: $cervo-neue;
    font-size: 24px;
    letter-spacing: 1px;
    color: $blue;
    font-weight: $bold;
  }
  div[class^='columns-'],div[class*='columns-']{
    &.woocommerce {
      .woocommerce-LoopProduct-link {
        text-align: center;
        height: 320px;
        display: block;
        img {
          width: auto;
          height: auto;
          max-width: 205px;
          max-height: 220px;
          display: block;
          margin-left: auto;
          margin-right: auto;

        }
      }
      .button {
        display: block;
        margin-right: auto;
        margin-left: auto;
        max-width: 50%;
        background-color: $medium-blue;
        border-radius: 5px;
        color: $white;
      }
    }
  }
}

h1.page-title {
  font-family: $cervo-neue;
  font-size: 42px;
  letter-spacing: 1px;
  color: $blue;
  font-weight: $bold;
}

.gosparky-archive, .related.products {
  > .products {
    width: 100%;
    padding-bottom: 1em;
    h2.woocommerce-loop-product__title {
      padding-top: 1em;
      font-family: $cervo-neue;
      font-size: 14px;
      line-height: 17px;
      font-weight: $medium;
    }
    .cell {
      @include breakpoint(medium) {
        border-right: 1px solid $grey;
        &:nth-child(2n) {
          border: none;
        }
      }
      @include breakpoint(large) {
        border-right: 1px solid $grey;
        &:nth-child(2n) {
          border-right: 1px solid $grey;
        }
        &:nth-child(4n) {
          border: none;
        }
      }
    }

  }
}
