.block-image-carousel-brands {
  padding-top: 1em;
  padding-left: 24px;
  padding-right: 24px;
  .slick-slider {
    padding-left: 50px;
    padding-right: 50px;
    .image-container {
      padding-left: 1em;
      padding-right: 1em;
    }
  }
  .slick-next, .slick-prev {
    position: absolute;
    color: transparent;
    height: 26px;
    width: 26px;
    z-index: 10;
    top: 40%;
    &:before {
      border-style: solid;
      border-width: 5px 5px 0 0;
      border-color: $blue;
      content: '';
      display: inline-block;
      height: 18px;
      //left: 0.15em;
      position: relative;
      //top: 0.15em;
      //transform: rotate(-45deg);
      vertical-align: top;
      width: 18px;
    }
  }
  .slick-prev {
    transform: rotate(-135deg);
    left: 0;

  }
  .slick-next {
    transform: rotate(45deg);
    right: 0;
  }
}

.carousel-large-5 {
  .slick-slide {
    padding-right: 30px;
    padding-left: 30px;
    img {
      width: 170px;
    }
  }
}