#home-page-brand-carousel {
  padding-top: 3em;
  padding-left: 2em;
  padding-right: 2em;
}

.carousel-large-5 {
  .slick-slide {
    padding-right: 30px;
    padding-left: 30px;
    img {
      width: 200px;
    }
  }
}