#footer-ecologi-row {
  color: $black;
  .background {
    background-color: #c2e9bb;
    padding: 25px 30px 45px;
  }
  img {
    height: 70px;
    width: auto;
    margin-right: 1em;
    //margin-top: 0.8em;
  }
}

