.full-width-call-out {
  font-family: $cervo-neue;
  color: $white;
  padding-top: 2em;
  .inner {
    background-color: $blue;
    padding-left: 1em;
    padding-right: 2em;
    padding-top: 3px;

  }
  a {
    font-size: 28px;
    letter-spacing: 1px;
    text-decoration: underline;
    text-transform: uppercase;
    line-height: 48px;
    font-weight: $regular;
    color: $white;
  }
  h2 {
    font-size: 30px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-weight: $bold;
    line-height: 48px;
  }
}