.orbit-bullets {
  //margin-top: -4rem;
  position: absolute;
  bottom: 20px;
  left: 60px;
  button {
    width: 1.6rem;
    height: 1.6rem;
    margin: .1rem;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid $white;
    margin-right: 2em;
    cursor: pointer;
    &.is-active, &:hover {
      background-color: $white;
      position: relative;
      &:before {
        content: " ";
        width: 0.8rem;
        height: 0.8rem;
        border-radius: 50%;
        background-color: $white;
        position: absolute;
        top: 0.15rem;
        left: 50%;
        margin-left: -0.4rem;
      }
    }
  }
}
