.woocommerce.single-product {
  .product {
    .images .flex-control-thumbs li img {
      width: auto;
      height: auto;
      max-width: 100%;
      max-height: 150px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    .woocommerce-product-gallery__wrapper {
      a {
        > img {
          width: auto;
          height: auto;
          max-width: 100%;
          max-height: 500px;
          display: block;
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
    .images {
      img.wp-post-image {
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 500px;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
    }

    .product_title {
      font-family: $cervo-neue;
      font-size: 42px;
      letter-spacing: 1px;
      color: $blue;
      font-weight: $bold;
    }

    form.cart {
      .quantity {
        margin: 0;
      }
    }

    .woocommerce-tabs {
      background-color: transparent;

      ul.tabs.wc-tabs {
        border: none;
        padding-top: 1em;
        padding-left: 0;
        border-top: 1px solid $grey;
        background-color: transparent;

        &:before {
          bottom: auto;
          top: 0;
        }

        li {
          border: none;
          background-color: transparent;
          padding: 0;
          //min-width: 20%;
          width: auto;
          margin: 0;
          @include breakpoint(medium) {
            padding-right: 30px;
          }
          &:before, &:after{
            content: "";
            box-shadow: none;
            border: none;
            border-radius: unset;
          }

          a {
            font-family: $cervo-neue;
            text-transform: uppercase;
            font-weight: $regular;
            font-size: 12px;
            letter-spacing: 1px;
            display: block;
            width: 100%;
            padding-right: 12px;
            @include breakpoint(medium) {
              font-size: 22px;
              border-right: 1px solid $grey;
              padding-right: 30px;
            }
          }

          &.active {
            a {
              color: $blue;
              font-weight: $bold;
              background-color: transparent;
            }
          }
        }
      }
    }

  }

  .product_meta {
    font-weight: $bold;
    border-top: 1px solid $grey;
    padding-top: 2em;
    padding-bottom: 2em;

    .sku, .posted_in a {
      font-weight: $regular;
    }

    .sku {
      padding-right: 3em;
    }
  }

  .price {
    > span {
      display: block;
    }

    .only {
      font-family: $cervo-neue;
      font-weight: $bold;
      font-size: 38px;
      letter-spacing: 1px;
      line-height: 1.2;
      color: $blue;
    }

    .display-price {
      font-family: $cervo-neue;
      font-weight: $bold;
      font-size: 65px;
      letter-spacing: 1px;
      line-height: 1;
      color: $blue;
    }

    .vat {
      color: $body-font-color;
      line-height: 2;
    }

  }

  .quantity input[type=number]::-webkit-inner-spin-button,
  .quantity input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
  }

  .btn.minus1, .btn.plus1, .quantity input[type=number] {
    width: 50px;
    padding: .5em;
    font-size: 1.2rem;
    text-align: center;
    font-weight: $regular;
    background: white;
    border: 1px solid #aaa;
    height: 52px;
    line-height: 1;
  }

  .btn.minus1, .btn.plus1 {
    &:hover {
      cursor: pointer;
    }
  }

  .quantity input[type=number] {
    border-left: none;
    border-right: none;
  }

  .single_add_to_cart_button {
    background-color: $medium-blue !important;
    margin-left: 3em;
    padding-left: 3em;
    padding-right: 3em;
    padding-top: 0;
    padding-bottom: 0;
    border-radius: 5px;
    /*line-height: 52px;*/
    line-height: 18px;
    height: 52px;
    padding-top: 19px;
    padding-bottom: 19px;
  }

  #breadcrumbs {
    border-bottom: 1px solid $grey;
    padding-top: 2em;
  }

  .single.content {
    padding-top: 2em;
  }

  #tab-description, #tab-additional_information {
    h2 {
      display: none;
    }
  }

  .related.products {
    > h2 {
      color: $blue;
      font-weight: 700;
      text-transform: uppercase;
      font-size: 22px;
      line-height: 35px;
    }
  }


}