.woocommerce.single-product {
  .product {
    .images {
      img.wp-post-image {
        width: auto;
        height: auto;
        max-width: 100%;
        max-height: 500px;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
    }
    .product_title {
      font-family: $cervo-neue;
      font-size: 42px;
      letter-spacing: 1px;
      color: $blue;
      font-weight: $bold;
    }
    form.cart {
      .quantity {
        margin: 0;
      }
    }
    .woocommerce-tabs {
      ul.tabs.wc-tabs {
        border: none;
        padding-top: 1em;
        &:before {
          bottom: auto;
          top: 0;
        }
        li{
          border: none;
          background-color: transparent;
          padding: 0;
          min-width: 20%;
          padding-right: 2em;
          width: auto;
          a {
            font-family: $cervo-neue;
            text-transform: uppercase;
            font-weight: $regular;
            font-size: 22px;
            letter-spacing: 1px;
          }
          &.active {
            a {
              color: $blue;
              font-weight: $bold;
              background-color: transparent;
            }
          }
        }
      }
    }

  }
  .product_meta {
    font-weight: $bold;
    border-top: 1px solid $grey;
    padding-top: 2em;
    padding-bottom: 2em;
    .sku, .posted_in a {
      font-weight: $regular;
    }
    .sku {
      padding-right: 3em;
    }
  }
  .price {
    > span {
      display: block;
    }
    .only {
      font-family: $cervo-neue;
      font-weight: $bold;
      font-size: 38px;
      letter-spacing: 1px;
      line-height: 1.2;
      color: $blue;
    }
    .display-price {
      font-family: $cervo-neue;
      font-weight: $bold;
      font-size: 65px;
      letter-spacing: 1px;
      line-height: 1;
      color: $blue;
    }
    .vat {
      color: $body-font-color;
      line-height: 2;
    }

  }

  .quantity input[type=number]::-webkit-inner-spin-button,
  .quantity input[type=number]::-webkit-outer-spin-button{
    -webkit-appearance:none;
  }
  .btn.minus1, .btn.plus1,.quantity input[type=number] {
    width:50px;
    padding:.5em;
    font-size:1.2rem;
    text-align:center;
    font-weight:$regular;
    background:white;
    border:1px solid #aaa;
    height: 52px;
    line-height: 1;
  }
  .btn.minus1, .btn.plus1 {
    &:hover {
      cursor: pointer;
    }
  }
  .quantity input[type=number] {
    border-left:none;
    border-right:none;
  }
  .single_add_to_cart_button {
    background-color: $medium-blue !important;
    margin-left: 3em;
    padding-left: 3em;
    padding-right: 3em;
    padding-top: 0;
    padding-bottom: 0;
    border-radius: 5px;
    line-height: 52px;
  }
  #breadcrumbs {
    border-bottom: 1px solid $grey;
    padding-top: 2em;
  }
  .single.content {
    padding-top: 2em;
  }



}