/** ================= Fixed Top Bar =============== */

$top-bar-fixed: false; // fixes the top bar to top of the page.
$header-padded: true; // pads the header to accommodate top bar.
$header-padding: 60px; // amount to pad the header.
$top-bar-background: $blue; //background colour of the top bar.

/** ================= Absolute Top Bar =============== */

$top-bar-absolute: true; // fixes the top bar to top of the page.
$header-padded: true; // pads the header to accommodate top bar.
$header-padding: 60px; // amount to pad the header.
$top-bar-background: $blue; //background colour of the top bar.



#top-bar-menu {
  display: block;
  &:after {
    content: " ";
    position: absolute;
    height: 1px;
    background: transparent;
    border-bottom: 1px solid $white;
    left: 10px;
    right: 10px;
    bottom: 5px;
  }
  @include breakpoint(large) {
    &:after {
      content: "";
      border: none;
    }
  }
  .logo {
    position: absolute;
    top: 15px;
    left: 10px;
    width: 150px;
  }
  .tel-cell {
    padding-top: 10px;
    padding-right: 5px;
    @include breakpoint(large) {
      padding: 0;
    }
  }
  &.top-bar {
    background-color: $top-bar-background;
    padding: 0;
    @if $top-bar-fixed {
      position: fixed;
      width: 100%;
      z-index: 1000;
    }
    &.fixed {
      position: fixed;
      width: 100%;
      z-index: 1000;
    }
    @if $top-bar-absolute {
      position: absolute;
      width: 100%;
      z-index: 1000;
      top: 0;
      left: 0;
    }
    &.absolute {
      position: absolute;
      width: 100%;
      z-index: 1000;
      top: 0;
      left: 0;
    }
    #main-nav {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }

    ul {
      background-color: $top-bar-background;
      a {
        color: $white;
        font-weight: $medium;
        font-size: 12px;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
      }
    }
    input:checked~.switch-paddle {
      background: $medium-blue;
    }
    > .grid-container {
      padding-right: 3px;
      @include breakpoint(960) {
        padding-right: 15px;
      }
    }
    .tax-display-setting {

      padding-top: 3px;
      padding-bottom: 3px;
      @include breakpoint(960) {
        padding: 0;
      }
      line-height: 1.9;
      .outer {
        background: $blue;
        padding-top: 0.5rem;
        position: relative;
        @include breakpoint(large) {
          background: $white;
        }
        > .grid-x {
          justify-content: flex-end;
          @include breakpoint(large) {
            justify-content: normal;
          }
        }
      }
      .cell {
        padding-left: 0.5em;
        padding-right: 0.5em;
        color: $white;
        @include breakpoint(large) {
          padding-left: 1em;
          padding-right: 1em;
          color: $body-font-color;
        }
        .switch-paddle {
          border-radius: 15px;
          &:after {
            border-radius: 15px;
          }
        }
      }
    }
  }
  .tel {
    color: $white;
    line-height: 45px;
    font-size: 20px;
    font-weight: bold;
  }
}

@if $header-padded {
  header.header {
    padding-bottom: 100px;
    @include breakpoint(large) {
      padding-bottom: $header-padding;
    }

  }
}

.page-top {
  .logo {
    img {
      max-width: 340px;
      width: 23.6111vw;
    }
  }
  .search {
    padding-left: 3em;
  }
}

.header-icons {
  padding-top: 1em;
  padding-bottom: 1em;
  .spacer {
    @include breakpoint(large) {
      border-right: 1px solid $grey;
    }
  }
}