/** ================= Fixed Top Bar =============== */

$top-bar-fixed: false; // fixes the top bar to top of the page.
$header-padded: true; // pads the header to accommodate top bar.
$header-padding: 60px; // amount to pad the header.
$top-bar-background: $blue; //background colour of the top bar.

/** ================= Absolute Top Bar =============== */

$top-bar-absolute: true; // fixes the top bar to top of the page.
$header-padded: true; // pads the header to accommodate top bar.
$header-padding: 60px; // amount to pad the header.
$top-bar-background: $blue; //background colour of the top bar.



#top-bar-menu {
  display: block;
  &.top-bar {
    background-color: $top-bar-background;
    padding: 0;
    @if $top-bar-fixed {
      position: fixed;
      width: 100%;
      z-index: 1000;
    }
    &.fixed {
      position: fixed;
      width: 100%;
      z-index: 1000;
    }
    @if $top-bar-absolute {
      position: absolute;
      width: 100%;
      z-index: 1000;
      top: 0;
      left: 0;
    }
    &.absolute {
      position: absolute;
      width: 100%;
      z-index: 1000;
      top: 0;
      left: 0;
    }
    #main-nav {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }
    ul {
      background-color: $top-bar-background;
      a {
        color: $white;
        font-weight: $medium;
        font-size: 12px;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
      }
    }
    input:checked~.switch-paddle {
      background: $medium-blue;
    }
    .tax-display-setting {
      background: $white;
      padding-top: 0.5rem;
      line-height: 1.9;
      .cell {
        padding-left: 1em;
        padding-right: 1em;
        .switch-paddle {
          border-radius: 15px;
          &:after {
            border-radius: 15px;
          }
        }
      }
    }
  }
}

@if $header-padded {
  header.header {
    padding-bottom: $header-padding;
  }
}

.page-top {
  .logo {
    img {
      max-width: 340px;
      width: 23.6111vw;
    }
  }
  .search {
    padding-left: 3em;
  }
}

.header-icons {
  padding-top: 1em;
  padding-bottom: 1em;
  .spacer {
    border-right: 1px solid $grey;
  }
}