.woocommerce #content input.button:hover, .woocommerce #respond input#submit:hover, .woocommerce a.button:hover, .woocommerce button.button:hover, .woocommerce input.button:hover, .woocommerce-page #content input.button:hover, .woocommerce-page #respond input#submit:hover, .woocommerce-page a.button:hover, .woocommerce-page button.button:hover, .woocommerce-page input.button:hover {

  background-color:$blue !important;
  color:white !important;
  text-shadow: transparent !important;
  box-shadow: none;
  border-color:#FF9900 !important;
}

.woocommerce #content input.button, .woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button, .woocommerce-page #content input.button, .woocommerce-page #respond input#submit, .woocommerce-page a.button, .woocommerce-page button.button, .woocommerce-page input.button {
  background-color:$blue !important;
  color:white !important;
  text-shadow: transparent !important;
  border-color:#FF9900 !important;
}

.woocommerce.gosparky, .woocommerce.gosparky.single-product {
  a.button.add_to_cart_button, .single_add_to_cart_button, a.button.add_to_cart_button:hover, .single_add_to_cart_button:hover{
    background-color: #f6db35 !important;
    color: $black !important;
  }
  #aqbp_quick_buy_shop_btn, #aqbp_quick_buy_btn, #aqbp_quick_buy_shop_btn:hover, #aqbp_quick_buy_btn:hover {
    background-color: #efaa30 !important;
  }
}

.woocommerce #content input.button.alt:hover, .woocommerce #respond input#submit.alt:hover, .woocommerce a.button.alt:hover, .woocommerce button.button.alt:hover, .woocommerce input.button.alt:hover, .woocommerce-page #content input.button.alt:hover, .woocommerce-page #respond input#submit.alt:hover, .woocommerce-page a.button.alt:hover, .woocommerce-page button.button.alt:hover, .woocommerce-page input.button.alt:hover {
  background-color:$blue !important;
  box-shadow: none;
  text-shadow: transparent !important;
  color:white !important;
  border-color:#FF9900 !important;
}

.woocommerce ul.products li.product .price,
.woocommerce-page ul.products li.product .price {
  text-align: center;
  color: #F00;  /* This is what you MAY want to change color */
  font-weight: 200;
  font-size: 1em;
}

.woocommerce div.product span.price, .woocommerce div.product p.price, .woocommerce #content div.product span.price, .woocommerce #content div.product p.price, .woocommerce-page div.product span.price, .woocommerce-page div.product p.price, .woocommerce-page #content div.product span.price, .woocommerce-page #content div.product p.price {
  color: #F00; /* Change this */
  font-size: 1.25em;
  text-align: center;
}

.woocommerce .woocommerce-order, .woocommerce-account {
  h2, h3 {
    color: $blue;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 22px;
    line-height: 35px;
  }
}

.woocommerce table.my_account_orders .button {
  margin-right: 5px;
}