.woocommerce-checkout-payment {
  color: $white;
  button, label, a {
    color: $white;
  }
}

#add_payment_method #payment, .woocommerce-cart #payment, .woocommerce-checkout #payment {
  background-color: $dark-gray;
}

#add_payment_method #payment div.payment_box, .woocommerce-cart #payment div.payment_box, .woocommerce-checkout #payment div.payment_box {
  background-color: $grey;
}